<div style="display: flex; justify-content: space-between;">
    <div>
        <!-- <form method="POST" onsubmit="calculate()"> -->
        Coach country:
        <select required id="sellerCountry">
            <option value="AU">AU</option>
            <option value="NZ">NZ</option>
            <option value="CA">CA</option>
            <option value="JP">JP</option>
            <option value="MY">MY</option>
            <option value="MT">MT</option>
            <option value="MX">MX</option>
            <option value="SG">SG</option>
            <option value="US">US</option>
            <option value="FR">FR</option>
            <option value="HK">HK</option>
            <option value="GB">GB</option>
        </select>


        Student country:
        <select required id="buyerCountry">
            <option value="AU">AU</option>
            <option value="NZ">NZ</option>
            <option value="CA">CA</option>
            <option value="JP">JP</option>
            <option value="MY">MY</option>
            <option value="MT">MT</option>
            <option value="MX">MX</option>
            <option value="SG">SG</option>
            <option value="US">US</option>
            <option value="FR">FR</option>
            <option value="HK">HK</option>
            <option value="GB">GB</option>
            <option value="XX">Any other country</option>
        </select>




        <br />

        Amount : <input required step="100" min="1000" type="number" id="amount">
        <br />
        <!-- <textarea required id="buyerTaxRegistrations" rows="5"></textarea> -->

        <br />
        Is coach registered to charge tax?: <input type="checkbox" id="isCoachRegistered"> YES
        <br />
        <br />
        <button type="button" onclick="calculate()">Calculate</button>
        <br />
        <br />
        <table border="1">
            <tr>
                <td>Price Set By Coach</td>
                <td id="priceSetByCoach"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <table border="1" style="width: 100%;">
                        <tr>
                            <td>Whocan Amount</td>
                            <td id="whocanComission"></td>
                        </tr>
                        <tr>
                            <td>Taxes collected by WhoCan</td>
                            <td id="whocanCollectedTaxes"></td>
                        </tr>
                        <tr>
                            <td>Total Tax Collected By Whocan</td>
                            <td id="whocanCollectedTotalTax"></td>
                        </tr>
                    </table>
                    <table border="1" style="width: 100%;">
                        <tr>
                            <td>Coach Amount</td>
                            <td id="coachAmount"></td>
                        </tr>
                        <tr>
                            <td>Taxes collected by coach</td>
                            <td id="coachCollectedTaxes"></td>
                        </tr>
                        <tr>
                            <td>Total Tax Collected By Coach</td>
                            <td id="coachCollectedTotalTax"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>Students will pay</td>
                <td id="amountPayable"></td>
            </tr>
        </table>
        <!-- </form> -->
    </div>
    <div>
        <style>
            body {
                margin: 0;
            }

            strong,
            th {
                color: orange;
            }

            th,
            td {
                padding: 5px;
            }

            div,
            table {
                font-size: small;
            }
        </style>
        <div style="padding-top: 1px; border:0px; margin: 0px auto; height: 841px; width: 596px; font-family:Open Sans, sans-serif; 
            background-image: url(https://whocan-assets.s3.amazonaws.com/backgrounds/invoice.jpg); ">
            <!-- <div style="margin:20px; border: 3px solid white; height: 796px; overflow: hidden;"> -->
            <table style="width: 100%">
                <tr>
                    <td style="width: 50%;">
                        <img src="https://whocan.tv/static/media/logo.9d2ec1f9.svg" alt=""
                            style="height:60px; float: left;">

                    </td>
                    <th style="width: 50%; text-align: right;">
                        Receipt # 99-001 <br />
                        Date: Jun 21, 2020
                    </th>
                </tr>
            </table>
            <div style="clear: both"></div>
            <table style="width: 100%;border-collapse: collapse; margin-top: 10px;" cellspacing="0" cellpadding="0">
                <tr>
                    <td style="width: 89%; vertical-align: baseline;">
                        <table style="width: 100%" cellspacing="0" cellpadding="0">
                            <tr style="width: 100%; text-align: left;">
                                <th>From</th>
                                <th>Billed To</th>
                            </tr>
                            <tr style="width: 100%">
                                <td style="text-align: left">
                                    WHOCAN.TV <br />
                                    Any Random Street <br />
                                    27AQQPT9782L1ZH</span>
                                </td>
                                <td style="text-align: left">
                                    Awesome Dance School <br />
                                    Chow Mow Street <br />
                                    Banana Republic <br/>
                                    27AQQPT9782L1ZH</span>
                                </td>
                            </tr>
                        </table>
                        <table style="width: 100%; border-top: 2px solid black; margin-top: 20px;">
                            <tr style="width: 100%">
                                <td style="text-align: left">
                                    <strong> Booking# </strong> <br />
                                    2310
                                    </th>

                                <td style="text-align: left">
                                    <strong>Booking Date </strong><br />
                                    Jun 21, 2020 03:30 PM AEST
                                </td>

                                <td style="text-align: left">
                                    <strong>Paid </strong><br />
                                    Yes
                                </td>

                                <td style="text-align: left">
                                    <strong>Payment Date </strong><br />
                                    Jun 21, 2020 03:30 PM AEST
                                </td>
                            </tr>
                        </table>
                        <table style="width: 100%; margin-top: 35px; border-collapse: collapse;" border="1">
                            <tr style="width: 100%; text-align: left;">
                                <th>
                                    Sl.No.
                                </th>

                                <th>
                                    Service
                                </th>
                                <th>
                                    Description of Service
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Taxes
                                </th>
                                <th>
                                    Amount
                                </th>
                            </tr>

                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    Whocan Fee
                                </td>
                                <td>
                                    Platform Service Fee
                                </td>
                                <td>
                                    $ <span id="inv2PlatformAmount"> 15.00 </span>
                                </td>
                                <td id="inv2WhocanCollectedTaxes">
                                    <table>
                                        <tr>
                                            <td>
                                                GST
                                            </td>
                                            <td>
                                                10%
                                            </td>
                                            <td>
                                                $1.50
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    $ <span id="inv2WhocanTotal"> 16.50 </span>
                                </td>
                            </tr>
                        </table>
                        <p style="text-align: right;">
                            <strong> Total: </strong> $
                            <span id="inv2Total"> 110 </span>

                        </p>
                    </td>
                </tr>
            </table>
            Notes:
            <ol>
                <li>
                    All the figures are in AUD
                </li>
            </ol>
            <div style="position: absolute; bottom: 10px;">
                <strong> ANY ISSUES ? </strong>
                <p>
                    contact@whocan.tv <br />
                    <a href="https://whocan.tv/help"> whocan.tv/help </a>
                </p>

                <footer style="border-top: 1px solid black; max-width: 596px;">
                    <small>
                        Receipt id 2341 (v1) generated on Oct 04, 2020 14:27 PM IST via <a target="_blank"
                            href="https://whocan.tv">WHOCAN</a>.
                        Whocan is a network of coaches and students sharing their knowledge and interest through live
                        classes
                        and private video lessons. Cancellation & Refund as per policy <a
                            href="https://whocan.tv/terms-of-service">whocan.tv/terms-of-service</a>.
                       
                    </small>
                </footer>
            </div>
            <!-- </div> -->
        </div>
    </div>
    <div>
        <div style="padding-top: 1px; border:0px; margin: 0px auto; height: 841px; width: 596px; font-family:Open Sans, sans-serif; 
        background-image: url(https://whocan-assets.s3.amazonaws.com/backgrounds/invoice.jpg); ">
            <!-- <div style="margin:20px; border: 3px solid white; height: 796px; overflow: hidden;"> -->
            <table style="width: 100%">
                <tr>
                    <td style="width: 50%;">
                        <img src="https://whocan.tv/static/media/logo.9d2ec1f9.svg" alt=""
                            style="height:60px; float: left;">

                    </td>
                    <th style="width: 50%; text-align: right;">
                        Receipt # 99-001 <br />
                        Date: Jun 21, 2020
                    </th>
                </tr>
            </table>
            <div style="clear: both"></div>
            <table style="width: 100%;border-collapse: collapse; margin-top: 10px;" cellspacing="0" cellpadding="0">
                <tr>
                    <td style="width: 89%; vertical-align: baseline;">
                        <table style="width: 100%" cellspacing="0" cellpadding="0">
                            <tr style="width: 100%; text-align: left;">
                                <th>From</th>
                                <th>Billed To</th>
                            </tr>
                            <tr style="width: 100%">
                                <td style="text-align: left">
                                    Awesome Dance School <br />
                                    Any Random Street <br />
                                    <span id="invRegistered">27AQQPT9782L1ZH</span>
                                </td>
                                <td style="text-align: left">
                                    Vikas Thakur<br />
                                    New Dummytown, TU <br />
                                    <span id="invRegistered">27AQQPT9782L1ZH</span>
                                </td>
                            </tr>
                        </table>
                        <table style="width: 100%; border-top: 2px solid black; margin-top: 20px;">
                            <tr style="width: 100%">
                                <td style="text-align: left">
                                    <strong> Booking# </strong> <br />
                                    2310
                                    </th>

                                <td style="text-align: left">
                                    <strong>Booking Date </strong><br />
                                    Jun 21, 2020 03:30 PM AEST
                                </td>

                                <td style="text-align: left">
                                    <strong>Paid </strong><br />
                                    Yes
                                </td>

                                <td style="text-align: left">
                                    <strong>Payment Date </strong><br />
                                    Jun 21, 2020 03:30 PM AEST
                                </td>
                            </tr>
                        </table>
                        <table style="width: 100%; margin-top: 35px; border-collapse: collapse;" border="1">
                            <tr style="width: 100%; text-align: left;">
                                <th>
                                    Sl.No.
                                </th>

                                <th>
                                    Service
                                </th>
                                <th>
                                    Description of Service
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Taxes
                                </th>
                                <th>
                                    Amount
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    Coaching Fee
                                </td>
                                <td>
                                    Ballet Class 101
                                    <br />
                                    with John Doe
                                    <br />
                                    on Sep 01, 2020
                                    <br />
                                    at 3:30 PM AEST
                                </td>
                                <td>
                                    $ <span id="invCoachAmount"> 85.00 </span>
                                </td>
                                <td id="invCoachCollectedTaxes">
                                    <table>
                                        <tr>
                                            <td>
                                                GST
                                            </td>
                                            <td>
                                                10%
                                            </td>
                                            <td>
                                                $8.50
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    $ <span id="invCoachTotal">93.50</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2
                                </td>
                                <td>
                                    Whocan Fee
                                </td>
                                <td>
                                    Platform Service Fee
                                </td>
                                <td>
                                    $ <span id="invWhocanAmount"> 15.00 </span>
                                </td>
                                <td id="invWhocanCollectedTaxes">
                                    <table>
                                        <tr>
                                            <td>
                                                GST
                                            </td>
                                            <td>
                                                10%
                                            </td>
                                            <td>
                                                $1.50
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    $ <span id="invWhocanTotal">16.50</span>
                                </td>
                            </tr>
                        </table>
                        <p style="text-align: right;">
                            <strong> Total: </strong>

                            $<span id="invStudentTotal">110</span>

                        </p>
                    </td>
                </tr>
            </table>
            Notes:
            <ol>
                <li>
                    All the figures are in AUD
                </li>
            </ol>
            <div style="position: absolute; bottom: 10px;">
                <strong> ANY ISSUES ? </strong>
                <p>
                    contact@whocan.tv <br />
                    <a href="https://whocan.tv/help"> whocan.tv/help </a>
                </p>

                <footer style="border-top: 1px solid black; max-width: 596px;">
                    <small>
                        Receipt id 2341 (v1) generated on Oct 04, 2020 14:27 PM IST via <a target="_blank"
                            href="https://whocan.tv">WHOCAN</a>.
                        Whocan is a network of coaches and students sharing their knowledge and interest through live
                        classes
                        and private video lessons. Cancellation & Refund as per policy <a
                            href="https://whocan.tv/terms-of-service">whocan.tv/terms-of-service</a>.
                        The services are intended for consumption by the registered user John Doe (john@yopmai.com)
                        only and not for re-sale or redistribution
                    </small>
                </footer>
            </div>
            <!-- </div> -->
        </div>
    </div>

</div>

<script>
    const euVatMembers = ['AT', 'BE', 'BG', 'CY', 'CZ', 'DK', 'EE', 'FI', 'FR', 'DE', 'GR', 'IE', 'IT', 'LV', 'LT', 'LU', 'NL', 'NO', 'PT', 'RO', 'SK', 'SI', 'ES', 'SE', 'CH']
    const euTax = {
        taxes: [{
            name: "VAT",
            code: "VAT",
            fullName: "Value Added Tax (VAT)",
            taxableCountries: [...euVatMembers, 'GB'],
            collectFromOutsideTaxableCountries: false, // true means collect tax from all students, even from those outside taxableCountries,
            collectFromOutsideStates: true, // true means collect tax from the students who do not reside in the same state/province as the coach
            collectFromWithinState: true,  // true means collect tax from the students who reside in the same state/province as the coach
        }],
        registrations: [{
            name: "VATIN",
            code: "VATIN",
            fullName: "Value Added Tax Identification Number (VATIN)",
        }],
        question: "Do you need to charge VAT on top of the price? If yes, please tell us the VAT rate applies to the service you are providing?"
    }
    const taxConfig = {
        whocan2Coach: {
            "AU": {
                sellerCountryName: "Australia",
                taxes: [{
                    defaultRate: 10,
                    code: "GST",
                    name: "GST",
                    fullName: "Goods and services tax (GST)",
                    taxableCountries: ["AU"],
                    collectFromOutsideTaxableCountries: false, // false means do not collect tax from coaches outside taxableCountries,
                    collectFromOutsideStates: true, // true means collect tax from the students who do not reside in the same state/province as the coach
                    collectFromWithinState: true, // true means collect tax from the students who reside in the same state/province as the coach
                }],
                registrations: [{
                    name: "ABN",
                    code: "ABN",
                    fullName: "Australian Business Number (ABN)",
                }, {
                    name: "ACN",
                    code: "ACN",
                    fullName: "Australian Company Number (ACN)",
                }],
            }
        },
        coach2Student: {
            "AU": {
                sellerCountryName: "Australia",


                taxes: [{
                    defaultRate: 10,
                    code: "GST",
                    name: "GST",
                    fullName: "Goods and services tax (GST)",
                    taxableCountries: ["AU"],
                    collectFromOutsideTaxableCountries: false, // false means do not collect tax from students outside taxableCountries,
                    collectFromOutsideStates: true, // true means collect tax from the students who do not reside in the same state/province as the coach
                    collectFromWithinState: true,  // true means collect tax from the students who reside in the same state/province as the coach
                }],
                registrations: [{
                    name: "ABN",
                    code: "ABN",
                    fullName: "Australian Business Number (ABN)",
                }, {
                    name: "ACN",
                    code: "ACN",
                    fullName: "Australian Company Number (ACN)",
                }],
                question: "Are you registered to charge GST?"
            },
            "NZ": {
                sellerCountryName: "New Zealand",


                taxes: [{
                    defaultRate: 15,
                    name: "GST",
                    code: "GST",
                    fullName: "Goods and services tax (GST)",
                    taxableCountries: ["NZ"],
                    collectFromOutsideTaxableCountries: false, // false means do not collect tax from students outside taxableCountries,
                    collectFromOutsideStates: true, // true means collect tax from the students who do not reside in the same state/province as the coach
                    collectFromWithinState: true,  // true means collect tax from the students who reside in the same state/province as the coach
                }],
                registrations: [{
                    name: "NZBN",
                    code: "NZBN",
                    fullName: "New Zealand Business Number (NZBN)",
                }],
                question: "Are you registered to charge GST?"
            },
            "CA": {
                sellerCountryName: "Canada",


                taxes: [{
                    name: "HST",
                    code: "HST",
                    fullName: "Harmonized Sales Tax (HST)",
                    taxableCountries: ["CA"],
                    collectFromOutsideTaxableCountries: false, // true means collect tax from all students, even from those outside taxableCountries
                    collectFromOutsideStates: true, // true means collect tax from the students who do not reside in the same state/province as the coach
                    collectFromWithinState: true,  // true means collect tax from the students who reside in the same state/province as the coach
                }, {
                    name: "GST",
                    code: "GST",
                    fullName: "Goods & Service Tax (GST)",
                    taxableCountries: ["CA"],
                    collectFromOutsideTaxableCountries: false, // true means collect tax from all students, even from those outside taxableCountries
                    collectFromOutsideStates: true, // true means collect tax from the students who do not reside in the same state/province as the coach
                    collectFromWithinState: true,
                }, {
                    name: "PST",
                    code: "PST",
                    fullName: "Provincial Sales Tax (PST)",
                    taxableCountries: ["CA"],
                    collectFromOutsideTaxableCountries: false, // true means collect tax from all students, even from those outside taxableCountries
                    collectFromOutsideStates: true, // true means collect tax from the students who do not reside in the same state/province as the coach
                    collectFromWithinState: true,  // true means collect tax from the students who reside in the same state/province as the coach
                }, {
                    name: "RST",
                    code: "RST",
                    fullName: "Retail Sales Tax (RST)",
                    taxableCountries: ["CA"],
                    collectFromOutsideTaxableCountries: false, // true means collect tax from all students, even from those outside taxableCountries
                    collectFromOutsideStates: true, // true means collect tax from the students who do not reside in the same state/province as the coach
                    collectFromWithinState: true,  // true means collect tax from the students who reside in the same state/province as the coach

                }, {
                    name: "QST",
                    code: "QST",
                    fullName: "Québec Sales Tax / Taxe de vente du Québec (QST)",
                    taxableCountries: ["CA"],
                    collectFromOutsideTaxableCountries: false, // true means collect tax from all students, even from those outside taxableCountries
                    collectFromOutsideStates: true, // true means collect tax from the students who do not reside in the same state/province as the coach
                    collectFromWithinState: true,  // true means collect tax from the students who reside in the same state/province as the coach
                }],
                registrations: [{
                    name: "BN",
                    code: "BN",
                    fullName: "Business Number (BN)",
                }],
                question: "Do you charge HST, GST, PST or QST? If yes, please tell the us rate at which you charge them.",
            },
            "JP": {
                sellerCountryName: "Japan",


                taxes: [{
                    defaultRate: 10,
                    code: "TAX",
                    name: "TAX",
                    fullName: "TAX",
                    taxableCountries: ["JP"],
                    collectFromOutsideTaxableCountries: false, // false means do not collect tax from coaches outside taxableCountries,
                    collectFromOutsideStates: true, // true means collect tax from the students who do not reside in the same state/province as the coach
                    collectFromWithinState: true,  // true means collect tax from the students who reside in the same state/province as the coach
                }],
                registrations: [{
                    name: "CN",
                    code: "CN",
                    fullName: "Corporate Number (CN)",
                }],
                question: "Do you need to charge 10% sales tax to customers within Japan?",
            },
            "MY": {
                sellerCountryName: "Malaysia",


                taxes: [{
                    defaultRate: 10,
                    code: "TAX",
                    name: "TAX",
                    fullName: "TAX",
                    taxableCountries: ["MY"],
                    collectFromOutsideTaxableCountries: false, // false means do not collect tax from coaches outside taxableCountries,
                    collectFromOutsideStates: true, // true means collect tax from the students who do not reside in the same state/province as the coach
                    collectFromWithinState: true,  // true means collect tax from the students who reside in the same state/province as the coach
                }],
                registrations: [{
                    name: "RN",
                    code: "RN",
                    fullName: "Registration Number (RN)",
                }],
                question: "Do you need to charge 10% sales tax to customers within Malaysia?",
            },
            "MT": {
                sellerCountryName: "Malta",
                ...euTax
            },
            "MX": {
                sellerCountryName: "Mexico",


                taxes: [{
                    defaultRate: 16,
                    code: "VAT",
                    name: "VAT",
                    fullName: "Value Added Tax (VAT)",
                    taxableCountries: ["MX"],
                    collectFromOutsideTaxableCountries: false, // false means do not collect tax from coaches outside taxableCountries,
                    collectFromOutsideStates: true, // true means collect tax from the students who do not reside in the same state/province as the coach
                    collectFromWithinState: true,  // true means collect tax from the students who reside in the same state/province as the coach
                }],
                registrations: [{
                    name: "RFC",
                    code: "RFC",
                    fullName: "Registro Federal de Contribuyentes (RFC)",
                }],
                question: "Do you need to charge 16% VAT on top of the price?",
            },
            "SG": {
                sellerCountryName: "Singapore",


                taxes: [{
                    defaultRate: 7,
                    code: "GST",
                    name: "GST",
                    fullName: "Goods & Service Tax (GST)",
                    taxableCountries: ["SG"],
                    collectFromOutsideTaxableCountries: false, // false means do not collect tax from coaches outside taxableCountries,
                    collectFromOutsideStates: true, // true means collect tax from the students who do not reside in the same state/province as the coach
                    collectFromWithinState: true,  // true means collect tax from the students who reside in the same state/province as the coach
                }],
                registrations: [{
                    name: "UEN",
                    code: "UEN",
                    fullName: "Unique Entity Number (UEN)",
                }, {
                    name: "GSTRN",
                    code: "GSTRN",
                    fullName: "GST registration number (GSTRN)",
                }],
                question: "Do you need to charge 7% GST on top of the price?",
            },
            "US": {
                sellerCountryName: "United States",


                taxes: [{
                    defaultRate: 10,
                    code: "VAT",
                    name: "VAT",
                    fullName: "Value Added Tax (VAT)",
                    taxableCountries: ["US"],
                    collectFromOutsideTaxableCountries: false, // false means do not collect tax from students outside taxableCountries,
                    collectFromOutsideStates: true, // true means collect tax from the students who do not reside in the same state/province as the coach
                    collectFromWithinState: true,  // true means collect tax from the students who reside in the same state/province as the coach
                }],
                registrations: [{
                    name: "EIN",
                    code: "EIN",
                    fullName: "Employer ID Number (EIN)",
                }],
                question: "Are you registered to charge 10% VAT?"
            },
            "HK": {
                sellerCountryName: "Hong Kong",
                registrations: [{
                    name: "BRN",
                    code: "BRN",
                    fullName: "Business Registration Number (BRN)",
                }]
            },
            // Business Registration Number (BRN) 
            "AT": {
                sellerCountryName: "Austria",
                ...euTax
            },
            "BE": {
                sellerCountryName: "Belgium",
                ...euTax
            },
            "BG": {
                sellerCountryName: "Bulgaria",
                ...euTax
            },
            "CY": {
                sellerCountryName: "Cyprus",
                ...euTax
            },
            "CZ": {
                sellerCountryName: "Czech Republic",
                ...euTax
            },
            "DK": {
                sellerCountryName: "Denmark",
                ...euTax
            },
            "EE": {
                sellerCountryName: "Estonia",
                ...euTax
            },
            "FI": {
                sellerCountryName: "Finland",
                ...euTax
            },
            "FR": {
                sellerCountryName: "France",
                ...euTax
            },
            "DE": {
                sellerCountryName: "Germany",
                ...euTax
            },
            "GR": {
                sellerCountryName: "Greece",
                ...euTax
            },
            "IE": {
                sellerCountryName: "Ireland",
                ...euTax
            },
            "IT": {
                sellerCountryName: "Italy",
                ...euTax
            },
            "LV": {
                sellerCountryName: "Latvia",
                ...euTax
            },
            "LT": {
                sellerCountryName: "Lithuania",
                ...euTax
            },
            "LU": {
                sellerCountryName: "Luxembourg",
                ...euTax
            },
            "NL": {
                sellerCountryName: "Netherlands",
                ...euTax
            },
            "NO": {
                sellerCountryName: "Norway",
                ...euTax
            },
            "PT": {
                sellerCountryName: "Portugal",
                ...euTax
            },
            "RO": {
                sellerCountryName: "Romania",
                ...euTax
            },
            "SK": {
                sellerCountryName: "Slovakia",
                ...euTax
            },
            "SI": {
                sellerCountryName: "Slovenia",
                ...euTax
            },
            "ES": {
                sellerCountryName: "Spain",
                ...euTax
            },
            "SE": {
                sellerCountryName: "Sweden",
                ...euTax
            },
            "CH": {
                sellerCountryName: "Switzerland",
                ...euTax
            },
            "GB": {
                sellerCountryName: "United Kingdom",
                taxes: [{
                    name: "VAT",
                    code: "VAT",
                    fullName: "Value Added Tax (VAT)",
                    taxableCountries: [...euVatMembers, 'GB'],
                    collectFromOutsideTaxableCountries: false, // true means collect tax from all students, even from those outside taxableCountries,
                    collectFromOutsideStates: true, // true means collect tax from the students who do not reside in the same state/province as the coach
                    collectFromWithinState: true,  // true means collect tax from the students who reside in the same state/province as the coach
                }],
                registrations: [{
                    name: "CRN",
                    code: "CRN",
                    fullName: "Company Registration Number (CRN)",
                }, {
                    name: "VATIN",
                    code: "VATIN",
                    fullName: "Value Added Tax Identification Number (VATIN)",
                }],
                question: "Do you need to charge VAT on top of the price? If yes, please tell us the VAT rate applies to the service you are providing?"
            }
        }
    }
    const calculate = () => {
        try {
            var e = document.getElementById("buyerCountry");
            const buyerCountry = e.options[e.selectedIndex].value;
            e = document.getElementById("sellerCountry");
            const sellerCountry = e.options[e.selectedIndex].value;
            let buyerTaxRegistrations = [] //JSON.parse(document.getElementById('buyerTaxRegistrations').value)
            const amount = parseInt(document.getElementById('amount').value) * 100
            console.log({ buyerCountry, sellerCountry, buyerTaxRegistrations, amount })
            if (document.getElementById("isCoachRegistered").checked) {
                document.getElementById('invRegistered').innerText = '27AQQPT9782L1ZH'

                if (sellerCountry == "AU") {
                    buyerTaxRegistrations = [{ "taxId": "27AQQPT9782L1ZH", "taxName": "GST", "taxPercent": 10 }]
                } if (sellerCountry == "NZ") {
                    buyerTaxRegistrations = [{ "taxId": "27AQQPT9782L1ZH", "taxName": "GST", "taxPercent": 15 }]
                } if (sellerCountry == "US") {
                    buyerTaxRegistrations = [{ "taxId": "27AQQPT9782L1ZH", "taxName": "VAT", "taxPercent": 10 }]
                } if (sellerCountry == "CA") {
                    buyerTaxRegistrations = [{ "taxId": "27AQQPT9782L1ZH", "taxName": "GST", "taxPercent": 5 }, { "taxId": "27AQQPT9782L1ZH", "taxName": "PST", "taxPercent": 7 }]
                } if (sellerCountry == "JP") {
                    buyerTaxRegistrations = [{ "taxId": "27AQQPT9782L1ZH", "taxName": "TAX", "taxPercent": 10 }]
                } if (sellerCountry == "MY") {
                    buyerTaxRegistrations = [{ "taxId": "27AQQPT9782L1ZH", "taxName": "TAX", "taxPercent": 10 }]
                } if (sellerCountry == "MT") {
                    buyerTaxRegistrations = [{ "taxId": "27AQQPT9782L1ZH", "taxName": "VAT", "taxPercent": 18 }]
                } if (sellerCountry == "MX") {
                    buyerTaxRegistrations = [{ "taxId": "27AQQPT9782L1ZH", "taxName": "VAT", "taxPercent": 16 }]
                } if (sellerCountry == "SG") {
                    buyerTaxRegistrations = [{ "taxId": "27AQQPT9782L1ZH", "taxName": "GST", "taxPercent": 7 }]
                } if (sellerCountry == "FR") {
                    buyerTaxRegistrations = [{ "taxId": "27AQQPT9782L1ZH", "taxName": "VAT", "taxPercent": 10 }]
                } if (sellerCountry == "GB") {
                    buyerTaxRegistrations = [{ "taxId": "27AQQPT9782L1ZH", "taxName": "VAT", "taxPercent": 10 }]
                }
            } else {
                document.getElementById('invRegistered').innerText = 'N/A'
            }
            // FROM HERE


            const whocanComissionPct = 15

            //let whocanComission = 0

            const coach2StudentTaxRule = taxConfig.coach2Student[sellerCountry]
            const whocanTaxRule = taxConfig.whocan2Coach.AU

            let calculatedAmount = {}
            const coachCollectedTaxes = []
            const whocanCollectedTaxes = []
            //let baseAmount = amount

            const whocanFee = Math.round((amount * whocanComissionPct) / 100)
            const coachFee = amount - whocanFee

            if (coach2StudentTaxRule && coach2StudentTaxRule.taxes && coach2StudentTaxRule.taxes.length) {
                for (let i = 0; i < buyerTaxRegistrations.length; i++) {
                    let { taxPercent, taxId, taxName } = buyerTaxRegistrations[i]
                    console.log(coach2StudentTaxRule.taxes)
                    console.log(taxName)
                    const thisTax = coach2StudentTaxRule.taxes.find(tax => tax.code == taxName)
                    console.log('thisTax-->', thisTax)
                    if (thisTax.taxableCountries.indexOf(buyerCountry) > -1) {
                        const taxAmount = Math.round((coachFee * taxPercent) / 100)
                        coachCollectedTaxes.push({
                            taxName,
                            taxPercent,
                            taxAmount
                        })
                    }
                }
            }
            for (let i = 0; i < whocanTaxRule.taxes.length; i++) {
                const { defaultRate: taxPercent, name: taxName, taxableCountries, collectFromOutsideTaxableCountries } = whocanTaxRule.taxes[i]
                if (collectFromOutsideTaxableCountries || taxableCountries.indexOf(buyerCountry) > -1) {
                    const taxAmount = Math.round((whocanFee * taxPercent) / 100)
                    whocanCollectedTaxes.push({
                        taxName,
                        taxPercent,
                        taxAmount
                    })
                }
            }
            let coachCollectedTotalTax = 0
            let whocanCollectedTotalTax = 0
            for (let i = 0; i < coachCollectedTaxes.length; i++) {
                coachCollectedTotalTax += coachCollectedTaxes[i].taxAmount
            }
            for (let i = 0; i < whocanCollectedTaxes.length; i++) {
                whocanCollectedTotalTax += whocanCollectedTaxes[i].taxAmount
            }

            const amountPayable = amount + coachCollectedTotalTax + whocanCollectedTotalTax

            const result = {
                priceSetByCoach: amount,
                whocanFee,
                // taxableAmount: amount,
                coachCollectedTaxes,
                whocanCollectedTaxes,
                coachCollectedTotalTax,
                whocanCollectedTotalTax,
                amountPayable
            }

            document.getElementById('priceSetByCoach').innerText = result.priceSetByCoach / 100
            document.getElementById('whocanComission').innerText = result.whocanFee / 100
            document.getElementById('coachAmount').innerText = coachFee / 100
            document.getElementById('coachCollectedTotalTax').innerText = result.coachCollectedTotalTax / 100
            document.getElementById('whocanCollectedTotalTax').innerText = result.whocanCollectedTotalTax / 100
            document.getElementById('whocanCollectedTaxes').innerText = result.whocanCollectedTaxes / 100
            document.getElementById('amountPayable').innerText = document.getElementById('invStudentTotal').innerText = result.amountPayable / 100
            document.getElementById('invWhocanTotal').innerText = (result.whocanCollectedTotalTax + result.whocanFee) / 100
            document.getElementById('inv2WhocanTotal').innerText = (result.whocanCollectedTotalTax + result.whocanFee) / 100
            document.getElementById('inv2Total').innerText = (result.whocanCollectedTotalTax + result.whocanFee) / 100
            document.getElementById('inv2PlatformAmount').innerText = result.whocanFee / 100
            document.getElementById('invWhocanAmount').innerText = result.whocanFee / 100
            document.getElementById('invCoachAmount').innerText = coachFee / 100
            document.getElementById('invCoachTotal').innerText = (result.coachCollectedTotalTax + coachFee) / 100
            //const earned = result.amountPayable - result.totalTax - result.whocanComission

            //document.getElementById('amountEarned').innerText = earned / 100


            let x = `<table>
                
                `
            for (let i = 0; i < coachCollectedTaxes.length; i++) {
                const { taxName, taxPercent, taxAmount } = coachCollectedTaxes[i]
                x += `<tr>`
                x += `<td> ${taxName} </td>`
                x += `<td> ${taxPercent}% </td>`
                x += `<td> ${taxAmount / 100} </td>`
                x += `</tr>`
            }
            x += '</table>'

            let y = `<table>
               
                `
            for (let i = 0; i < whocanCollectedTaxes.length; i++) {
                const { taxName, taxPercent, taxAmount } = whocanCollectedTaxes[i]
                y += `<tr>`
                y += `<td> ${taxName} </td>`
                y += `<td> ${taxPercent}% </td>`
                y += `<td> ${taxAmount / 100} </td>`
                y += `</tr>`
            }
            y += '</table>'

            document.getElementById('coachCollectedTaxes').innerHTML = x
            document.getElementById('invCoachCollectedTaxes').innerHTML = x
            document.getElementById('inv2WhocanCollectedTaxes').innerHTML = y
            document.getElementById('invWhocanCollectedTaxes').innerHTML = y
            document.getElementById('whocanCollectedTaxes').innerHTML = y

            // document.getElementById('taxAmountIncludedInSellingPrice').innerText = taxRule && taxRule.taxAmountIncludedInSellingPrice ? 'YES' : 'NO'
            // document.getElementById('takeoutWhocanCommissionBeforeCalculatingTax').innerText = taxRule && taxRule.takeoutWhocanCommissionBeforeCalculatingTax ? 'YES' : 'NO'
            // document.getElementById('rulesTable').style.display = 'block'


        } catch (e) {
            alert(e.message)
        }

        // console.log({ buyerCountry, sellerCountry, })
    }

// AU [{"taxId": "27AQQPT9782L1ZH", "taxName": "GST", "taxPercent": 10}]
// GB 
</script>